.whycrm {
  &__wrap {
    @extend %container;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    padding: 0 1rem 0.5rem 1rem;
    p {
      position: relative;
    }
    &::after {
      content: "";
      position: absolute;
      background: black;
      height: 1.2px;
      width: 100%;
      left: 0;
      bottom: -3px;
    }
    .active {
      font-weight: 700;
      position: relative;

      &::after {
        position: absolute;
        background: black;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: -3px;
      }
    }
  }
}
