.whycrm {
  padding: 2rem 0;

  &__content {
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
    &__image {
      margin-top: 1rem;
      img {
        border-radius: 1rem;
      }
    }
    &__text {
      padding: 1.3rem 0;
      margin-left: 2rem;
      margin-bottom: 2rem;
      &__wrap {
        margin-bottom: 1.5rem;
        p {
          padding-right: 2rem;
          // font-size: 0.9rem;
          color: #818181;
        }
        &__title {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 0.4rem;
          h6 {
            color: #3c3c3c;
          }
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
      span {
        @extend %button;
        display: table;
        border: none;
        background: lighten($primary2, 50%);
        color: $primary2;
        transition: background ease 0.3s;
        &:hover {
          background: lighten($primary2, 40%);
        }
      }
    }
  }
}
