.contacts {
  background: lighten($primary, 50%);
  display: flex;
  @include xl {
    flex-direction: column;
  }
  gap: 2rem;
  @include sm {
    gap: 0;
  }
  padding: 4rem 0;
  font-family: $secondary_font;
  @extend %container;
  &__left {
    flex: 1 1 calc(50% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      color: $primary2;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 32px;
      @include sm {
        line-height: 24px;
      }
      margin-bottom: 1.5rem;
      text-align: justify;
      padding-right: 1rem;
    }
    &__marks {
      &__checks {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  &__form {
    flex: 1 1 calc(50% - 2rem);
    h6 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    form {
      input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        outline: none;
        border: none;
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
    &__policy {
      font-size: 12px;
      padding: 1rem 2rem 1rem 0;
    }
    button {
      border: none;
      padding: 1rem 3rem;
      font-size: 1.2rem;
      font-weight: 600;
      background: $secondary;
      border-radius: 8px;
      color: white;
      width: 100%;
    }
  }
}
