/*-----------PartnerSection---------*/
.partners {
  padding: 4rem 0;
  &__text {
    text-align: center;
    margin-bottom: 1rem;
    h4 {
      color: #3c3c3c;
    }
    p {
      color: #818181;
    }
  }
  &__cards {
    border-bottom: 1px solid #b4b1b1;
    padding-bottom: 2rem;
    display: flex;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
}

.why-section {
  h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: darken($primary2, 15%);
  }
}

.review-section {
  background: #cceef9;
  h2 {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: darken($primary, 20%);
    @include sm {
      font-size: 2.074rem;
    }
  }
}
