/*-----------PartnerSection---------*/
.partners {
  padding: 4rem 0;
  &__text {
    text-align: center;
    margin-bottom: 1rem;
    h4 {
      color: #3c3c3c;
    }
    p {
      color: #818181;
    }
  }
  &__cards {
    border-bottom: 1px solid #b4b1b1;
    padding-bottom: 2rem;
    display: flex;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
}

.why-section {
  h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: darken($primary2, 15%);
  }
}

.review-section {
  background: #e4f5fc;
  h2 {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: darken($primary, 20%);
    @include sm {
      font-size: 2.074rem;
    }
  }
}

// Feature
.feature {
  background: linear-gradient(
    to right,
    lighten($secondary, 10%) 10%,
    lighten($secondary, 20%) 50%,
    lighten($secondary2, 20%) 90%
  );
  padding: 2rem;
  min-height: 420px;
  display: flex;

  justify-content: center;
  margin-bottom: 6rem;
  &__image {
    flex: 1 1 50%;
    position: relative;
    @include md {
      display: none;
    }
    &__wrap {
      position: absolute;
      background: #e4f5fc;
      max-inline-size: 250px;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      &__top {
        color: #292929;
        font-weight: 700;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 1rem;
        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
      &__btm {
        color: #818181;
        // font-size: 0.85rem;
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
        small {
          padding-bottom: 2px;
          border-bottom: 1px solid #585757;
        }
      }
    }
  }
  &__text {
    flex: 1 1 50%;
    margin-left: 2rem;
    @include sm {
      margin-left: unset;
    }
    h2 {
      color: #292929;
      margin-bottom: 1rem;
    }
    button {
      @extend %button;
      outline: none;
      border: none;
      color: $secondary;
      background: lighten($secondary, 50%);
      margin-top: 2rem;
    }
  }
}

// Pricing
.pricing {
  @extend %container;
  padding-bottom: 4rem;
  h3 {
    margin-bottom: 1rem;
    color: darken($primary2, 20%);
  }
  p {
    margin-bottom: 1rem;
  }
  &__cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    // margin-bottom: 1rem;
    margin-block: 3rem;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
    &__card {
      // padding-block: 2rem;
      cursor: pointer;
      &__img {
        background: darken($primary2, 10%);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        padding: 0.5rem;
        img {
          @extend %image-cover;
        }
      }
      &__text {
        text-align: left;
        // padding-left: 1rem;
        h6 {
          padding-block: 1rem;
        }
      }
      &:hover {
        h6 {
          text-decoration: underline;
        }
      }
    }
  }
  button {
    @extend %button;
    color: $primary2;
    border: none;
    background: lighten($primary, 50%);
  }
}
